.social-line{
    position: relative;
    z-index: -1;
    top:0;
}
.social-line img{
    width: 100%;
    height: auto;
    filter: brightness(50%);
}

.text{
    position: absolute;
    top: 300px;
}
.text1{
    padding: 55px 0 0 0;
}

.care:first-child{
    padding-left: 2rem;
}
.care p{
    width: 70%;
    font-size: 1.2rem;
    margin: 0;
}

.container-fluid .row{
    padding: 5rem;
}

.container-fluid .row .col img{
    height: 90px;
    margin-bottom: 20px;
}

