<div class="invest-line">
    <img src = "https://res.cloudinary.com/dyl3rncv3/image/upload/v1679982347/elewa-group-website/hero-Images/dark-to-light_xrat5g.jpg" />
    <div class="text">
        <h6 class="text-white">Trade, not aid</h6>
        <p class="text-white">Southern innovations addressing global problems</p>
    </div>    
</div>

<div class="diff">
    <h1>How we see it differently</h1>
    <p>The global South is rapidly catching up with the "developed" world. It's time for you to get to know the rapid development, innovation and drive going on in this part of the world (East-Africa, South Asia and beyond).</p>
    <img class ="mask" src="https://res.cloudinary.com/dyl3rncv3/image/upload/c_scale,w_1280/v1675690306/elewa-group-website/Images/Mask_Group_17_rjkgrq.png" alt="">

</div>
<div class="figures">
    <h1 class="text-center">Key figures</h1>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <h1><b>1.3</b>M</h1>
            <p>Approx. number of Kenyan talents reaching the age of 18 in 2022</p>
          </div>
          <div class="col">
            <h1><b>5</b>M</h1>
            <p>number of East-Africans(EAC) reaching the age of 18 in 2022</p>
          </div>
          <div class="col">
            <h1><b>2022</b></h1>
            <p>Democratic Republic of Congo joins the East African Community</p>
          </div>
          <div class="col">
            <h1><b>1.5</b>M</h1>
            <p>The number of unfilled IT vacancies in the US and EU markets</p>
          </div>
        </div>
        <div class="row">
            <div class="col">
                <h1><b>10</b>M</h1>
                <p>Number of technical vacancies by 2030</p>

            </div>
            <div class="col">
                <h1><b>2050</b></h1>
                <p>Africa holds the worlds largest workforce</p>
            </div>
            <div class="col">
                <h1><b>$4.6</b>M</h1>
                <p>Startup funding raised by African startups in 2022</p>
            </div>
            <div class="col">
                <h1><b>310</b>%</h1>
                <p>Increase in startup funding for companies with HQ in Kenya</p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1675690303/elewa-group-website/Images/IMG_6523_vabpyo.png" alt="">

        </div>
        <div class="col-6 align-self-center">
            <h1>Elewa NV, a multi-stakeholder cooperation</h1>
            <p>At the heart of Elewa lies the structure Elewa NV. Based in Brussels, Belgium, Elewa NV is a private holding company which controls the assets of all Elewa activities. Elewa NV is owned and controlled by Elewa's founder, a small community of investors</p>

        </div>

    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 align-self-center">
            <h1>The Elewa Creative Hub</h1>
            <p>Coming soon; The Elewa Creative Hub Lies at the heart of our organization. A two-acre property at the center of Nairobi's creative district, the hub connects all Elewa's Activities under a single banner.</p>


        </div>
        <div class="col-6">
            <img class="img-fluid" src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1679983012/elewa-group-website/Images/creative-hub-image_dd6o8o.jpg" alt="">

        </div>

    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="https://res.cloudinary.com/dyl3rncv3/image/upload/v1679983082/elewa-group-website/Images/invest-now_ftxg4z.jpg" alt="">

        </div>
        <div class="col-6 align-self-center">
            <h1>Investing in Elewa NV</h1>
            <p>From time to time, we offer investment opportunities (private equity & debt) to out community of investors. Interested to take part when this opportunity arrives?</p>
            <button>Join the waiting list</button>
        </div>

    </div>

</div>


<div class="call-m">
    <p>Become part of our mission <br>
        And start <span>investing</span></p>
</div>



















