<nav class="navbar position-absolute">
    <img src="https://res.cloudinary.com/ddei3mzex/image/upload/v1698922465/Logo_White_arvoyx_h9kx9y.svg"/>
    <div class="togglebtn">
        <i class="fa fa-bars" aria-hidden="true" (click)="onClick($event)"></i>
    </div>   
    <div class="nav justify-content-end">
        
        <a href="" class="nav-link text-white">About Us</a><hr/>
        <a href="" class="nav-link text-white">Social Impact</a><hr/>
        <a href="" class="nav-link text-white">Invest</a><hr/>
    </div>
</nav>
<div class="line"><hr/></div>



