<nav class="navbar position-absolute">
    <img src="https://res.cloudinary.com/ddei3mzex/image/upload/v1698922465/Logo_White_arvoyx_h9kx9y.svg"/>
    <div class="togglebtn">
        <i class="fa fa-bars text-white" aria-hidden="true" (click)="toggleMenu()"></i>
    </div>   
    <div class="nav justify-content-end" [class.open]="menuopen">
        <a routerLink="/about" class="nav-link text-white">About Us</a>
        <a routerLink="/" class="nav-link text-white">Social Impact</a>
        <a routerLink="/invest" class="nav-link text-white">Invest</a>
    </div>
</nav>



