<!-- Adding the footer element to the footer component -->
<footer class="text-white">
    <div class="top-footer">
        <!-- Adding the headquarters column of the footer -->
        <div class="headquarters">
            <h1>Headquarters</h1>
            <p>The Promenade, 19 General</p>
            <p>Mathenge Rd</p>
            <p>Nairobi, Kenya</p>
        </div>

        <!-- Adding the contact column of the footer -->
        <div class="contact">
            <h1>Contact</h1>
            <p>T +254 78 92 27 755</p>
            <p>E info@elewa.ke</p>
        
        </div>

        <!-- Adding the navigation column of the footer -->
        <div class="navigation">
            <h1>Navigation</h1>       
            <a routerLink="/about" class="nav-link text-white"><p>About us</p></a>
            <a routerLink="/" class="nav-link text-white"><p>Social impact</p></a>
            <a routerLink="/invest" class="nav-link text-white"><p>Invest</p></a>
        
        </div>

        <!-- Adding the brands column of the footer -->
        <div class="brands">
            <h1>Brands</h1>
            <p>Elewa</p>
            <p>Italanta</p>
            <a>Venture labs</a>
        
        </div>

        <!-- Adding the privacy column of the footer -->
        <div class="privacy">
            <h1>Privacy</h1>
            <p>Terms and conditions</p>
            <p>Cookie preferences</p>
        </div>      
    </div>

    <!-- Adding the icons column of the footer -->
    <div class="footer-images">
        
        <!-- Adding the logo image in the website -->
        <img src="https://res.cloudinary.com/ddei3mzex/image/upload/v1698922465/Logo_White_arvoyx_h9kx9y.svg" alt="logo">
        
        <!-- Adding the social media icons -->
        <div class="icons">
            <a href=""><img src="../../assets/facebook_lhhwk2.svg" alt="facebook"/></a>
            <a href="https://www.instagram.com/elewa_education/"><img src="../../assets/instagram_x8ujcq.svg" alt="instagram"/></a>
            <a href="https://www.linkedin.com/company/elewa/"><img src="../../assets/linkedin_x8smhm.svg" alt="linkedin"/></a>

        </div>
    </div>
</footer>